In [1]:
import pandas as pd

# concat

In [2]:
s1 = pd.Series(["red", "black"], name="color")
s2 = pd.Series(["white", "gray"], name="colorname")
df1 = pd.DataFrame(
    {
        "color": ["red", "orange", "blue", "green"],
    }
)
df2 = pd.DataFrame(
    {
        "color": ["black", "white", "yellow", "purple"],
        "shape": ["circle", "square", "triangle", "star"],
    }
)

In [3]:

pd.concat([s1, s2])

0      red
1    black
0    white
1     gray
dtype: object

In [4]:
pd.concat([df1, df2])

    color     shape
0     red       NaN
1  orange       NaN
2    blue       NaN
3   green       NaN
0   black    circle
1   white    square
2  yellow  triangle
3  purple      star

In [5]:
pd.concat([df1, df2]).loc[[1,3], :]

    color   shape
1  orange     NaN
1   white  square
3   green     NaN
3  purple    star

In [6]:
pd.concat([df1, df2]).iloc[[1,3], :]

    color shape
1  orange   NaN
3   green   NaN

In [7]:
pd.concat([df1, df2], ignore_index=True).loc[[1,3], :]

    color shape
1  orange   NaN
3   green   NaN

In [8]:
pd.concat([df1, df2], ignore_index=True).iloc[[1,3], :]

    color shape
1  orange   NaN
3   green   NaN

In [6]:
pd.concat([df1, df2], keys=["df1", "df2"])

        color     shape
df1 0     red       NaN
    1  orange       NaN
    2    blue       NaN
    3   green       NaN
df2 0   black    circle
    1   white    square
    2  yellow  triangle
    3  purple      star

In [7]:
pd.concat([df1, df2], keys=["df1", "df2"]).index

MultiIndex([('df1', 0),
            ('df1', 1),
            ('df1', 2),
            ('df1', 3),
            ('df2', 0),
            ('df2', 1),
            ('df2', 2),
            ('df2', 3)],
           )

In [10]:
pd.concat([df1, df2], keys=["df1", "df2"]).loc[('df1', [1,3]), :]

        color shape
df1 1  orange   NaN
    3   green   NaN

In [11]:
pd.concat([df1, s2])   # default axis=0

    color      0
0     red    NaN
1  orange    NaN
2    blue    NaN
3   green    NaN
0     NaN  white
1     NaN   gray

In [12]:
pd.concat([df1, s2], axis=1)

    color colorname
0     red     white
1  orange      gray
2    blue       NaN
3   green       NaN

In [13]:
pd.concat([df1, s2], axis="columns")

    color colorname
0     red     white
1  orange      gray
2    blue       NaN
3   green       NaN