# I/O：CSV

Example：

In [3]:
import pathlib
import uuid

import pandas as pd

csvfile = pathlib.Path(r"~/Desktop/pandas.csv").expanduser()
txtfile = pathlib.Path(r"~/Desktop/pandas.txt").expanduser()
data = dict(
    uid=[uuid.uuid4() for _ in range(5)],
    name=["Steve Jobs", "Bill Gates", "Mark Zuckerberg", "Larry Page", "Sergey Brin"],
    company=["Apple", "Microsoft", "Facebook", "Google", "Yandex"],
)
df = pd.DataFrame(data)
df.head()

                                    uid             name    company
0  246000b6-0256-476b-b125-0f0b95719a1d       Steve Jobs      Apple
1  2155499d-3e0b-4e8a-965f-acd3f31ac2fc       Bill Gates  Microsoft
2  5f51767f-f743-43d1-aeca-5eaaad5e47ab  Mark Zuckerberg   Facebook
3  e86c9b7e-53ba-41bf-98e2-6979f1d462cf       Larry Page     Google
4  5aa2d881-8721-4eba-a73d-e5f0a19a5ede      Sergey Brin     Yandex

In [4]:
df.to_csv(csvfile, index=False)

In [5]:
%pycat ~/Desktop/pandas.csv

uid,name,company
246000b6-0256-476b-b125-0f0b95719a1d,Steve Jobs,Apple
2155499d-3e0b-4e8a-965f-acd3f31ac2fc,Bill Gates,Microsoft
5f51767f-f743-43d1-aeca-5eaaad5e47ab,Mark Zuckerberg,Facebook
e86c9b7e-53ba-41bf-98e2-6979f1d462cf,Larry Page,Google
5aa2d881-8721-4eba-a73d-e5f0a19a5ede,Sergey Brin,Yandex

In [6]:
df.to_csv(txtfile, index=False, sep="\t")

In [7]:
%pycat ~/Desktop/pandas.txt

uid     name    company
246000b6-0256-476b-b125-0f0b95719a1d    Steve Jobs      Apple
2155499d-3e0b-4e8a-965f-acd3f31ac2fc    Bill Gates      Microsoft
5f51767f-f743-43d1-aeca-5eaaad5e47ab    Mark Zuckerberg Facebook
e86c9b7e-53ba-41bf-98e2-6979f1d462cf    Larry Page      Google
5aa2d881-8721-4eba-a73d-e5f0a19a5ede    Sergey Brin     Yandex

## read

### sep & delimeter

In [8]:
import pathlib

txtfile = pathlib.Path(r"~/Desktop/pandas.txt").expanduser()

df = pd.read_csv(txtfile, sep="\t")
print(df)

                                    uid             name    company
0  246000b6-0256-476b-b125-0f0b95719a1d       Steve Jobs      Apple
1  2155499d-3e0b-4e8a-965f-acd3f31ac2fc       Bill Gates  Microsoft
2  5f51767f-f743-43d1-aeca-5eaaad5e47ab  Mark Zuckerberg   Facebook
3  e86c9b7e-53ba-41bf-98e2-6979f1d462cf       Larry Page     Google
4  5aa2d881-8721-4eba-a73d-e5f0a19a5ede      Sergey Brin     Yandex

### usecols

In [9]:
import pathlib
csvfile = pathlib.Path(r"~/Desktop/pandas.csv").expanduser()

df = pd.read_csv(csvfile, usecols=["name", "company"])
print(df)

              name    company
0       Steve Jobs      Apple
1       Bill Gates  Microsoft
2  Mark Zuckerberg   Facebook
3       Larry Page     Google
4      Sergey Brin     Yandex

### skiprows

In [10]:
import pathlib

csvfile = pathlib.Path(r"~/Desktop/pandas.csv").expanduser()

In [11]:
pd.read_csv(csvfile, skiprows=[1, 3])

                                    uid         name    company
0  2155499d-3e0b-4e8a-965f-acd3f31ac2fc   Bill Gates  Microsoft
1  e86c9b7e-53ba-41bf-98e2-6979f1d462cf   Larry Page     Google
2  5aa2d881-8721-4eba-a73d-e5f0a19a5ede  Sergey Brin     Yandex

In [12]:
pd.read_csv(csvfile, skiprows=lambda x: x % 2 == 0)

   246000b6-0256-476b-b125-0f0b95719a1d       Steve Jobs     Apple
0  5f51767f-f743-43d1-aeca-5eaaad5e47ab  Mark Zuckerberg  Facebook
1  5aa2d881-8721-4eba-a73d-e5f0a19a5ede      Sergey Brin    Yandex

In [13]:
pd.read_csv(csvfile, nrows=2)

                                    uid        name    company
0  246000b6-0256-476b-b125-0f0b95719a1d  Steve Jobs      Apple
1  2155499d-3e0b-4e8a-965f-acd3f31ac2fc  Bill Gates  Microsoft

## write

In [14]:
import csv
from io import StringIO

import pandas as pd

data = StringIO(
    """a,b,c\n
    1,"Hello, world",3\n
    """
)

df = pd.read_csv(data)

In [15]:
print(df.to_csv(index=False, quoting=csv.QUOTE_ALL))

"a","b","c"
"1","Hello, world","3"

In [16]:
print(df.to_csv(index=False, quoting=csv.QUOTE_NONNUMERIC))

"a","b","c"
1,"Hello, world",3

In [17]:
csv_string = df.to_csv(index=False, quoting=csv.QUOTE_ALL)
print(csv_string)

"a","b","c"
"1","Hello, world","3"

In [18]:
print(f"type: {type(csv_string)}")

type: <class 'str'>

# I/O：Excel

如果未安装 `openpyxl`，则可以通过取消如下命令的注释后执行安装：

In [19]:
# !pip install openpyxl

## read

In [20]:
import pathlib

import pandas as pd

excel_file = pathlib.Path("../../data") / "excel_io_example.xlsx"

df = pd.read_excel(excel_file, engine="openpyxl")
print(df)

   id       name    category
0   0      Apple        Tech
1   1     Google        Tech
2   2  Microsoft        Tech
3   3   Facebook      Social
4   4     Amazon  E-Commerce

## write

In [21]:
excel_output = (
    pathlib.Path("~/Desktop").expanduser() / "excel_io_example_output.xlsx"
)

df.columns = df.columns.str.upper()
df = df.drop("ID", axis=1)
print(df)
df.to_excel(excel_output)

        NAME    CATEGORY
0      Apple        Tech
1     Google        Tech
2  Microsoft        Tech
3   Facebook      Social
4     Amazon  E-Commerce

# I/O：Database

In [22]:
# generate fake data

import pathlib
import sqlite3

DB_PATH = pathlib.Path("~/Desktop/pandas.db").expanduser()

db = sqlite3.connect(DB_PATH)


def generate_fake_data(conn: sqlite3.Connection):
    conn.execute(
        """
        CREATE TABLE IF NOT EXISTS items (
            ID int not null,        -- 自增ID
            `NAME` VARCHAR(10),     -- 商品名
            PRICE float(2),         -- 价格
            `NUMBER` int(10)        -- 数量
        );
        """
    )

    data = [
        (0, "Apple", 6.99, 4),
        (1, "Orange", 4.92, 10),
        (2, "Peach", 11.00, 3),
        (3, "Banana", 2.33, 7),
        (4, "Purple", 7.7, 8),
    ]
    has_data = conn.execute("SELECT COUNT(0) FROM items").fetchone()[0]
    if not has_data:
        conn.executemany(
            "INSERT INTO ITEMS(ID, NAME, PRICE, NUMBER) VALUES(?, ?, ?, ?)", data
        )
        conn.commit()


generate_fake_data(conn=db)
db.close()

## read

SQL query example：
```sql
SELECT s.name,
       s.category
FROM (
         SELECT `name`,
                case
                    WHEN number % 2 == 0 THEN 0
                    WHEN number % 3 >= 1 THEN 1
                    WHEN number % 4 != 0 THEN 3
                    ELSE number
                    END as category
         FROM items
     ) s
WHERE s.category > 0;
```

In [23]:
import pathlib
import sqlite3

import pandas as pd

DB_PATH = pathlib.Path("~/Desktop/pandas.db").expanduser()

db = sqlite3.connect(DB_PATH)
data = pd.read_sql_query("SELECT * FROM items", db)
data.columns = data.columns.str.lower()


def case_when(number):
    if number % 2 == 0:
        return 0
    elif number % 3 >= 1:
        return 1
    elif number % 4 != 0:
        return 3
    else:
        return number


data["category"] = data["number"].map(case_when)
data.loc[data["category"] > 0, ["name", "category"]]

     name  category
2   Peach         3
3  Banana         1

## write

In [24]:
items = [
    dict(id=5, name="Cherry", price=15, number=20),
    dict(id=6, name="BlackBerry", price=20, number=11),
    dict(id=7, name="Corn", price=3, number=100),
]

df = pd.DataFrame(items)
df.to_sql(name="items", con=db, if_exists="append", index=False)
print(df)

   id        name  price  number
0   5      Cherry     15      20
1   6  BlackBerry     20      11
2   7        Corn      3     100

In [25]:
rows = db.execute("SELECT * FROM items").fetchall()
print(rows)

[(0, 'Apple', 6.99, 4), (1, 'Orange', 4.92, 10), (2, 'Peach', 11.0, 3), (3, 'Banana', 2.33, 7), (4, 'Purple', 7.7, 8), (5, 'Cherry', 15.0, 20), (6, 'BlackBerry', 20.0, 11), (7, 'Corn', 3.0, 100)]