In [11]:
import pandas as pd

wide = pd.DataFrame(
    {
        "id": ["a", "b"],
        "1992": [1, 2],
        "1993": [3, 4],
        "1994": [5, 6],
    }
)
print(wide)

  id  1992  1993  1994
0  a     1     3     5
1  b     2     4     6

In [12]:
melted = wide.melt(
    id_vars=["id"],
    value_vars=["1992", "1993", "1994"],
    var_name="year",
    value_name="value",
)
print(melted)

  id  year  value
0  a  1992      1
1  b  1992      2
2  a  1993      3
3  b  1993      4
4  a  1994      5
5  b  1994      6

In [13]:
melted.pivot(index="id", columns="year", values="value")

year  1992  1993  1994
id
a        1     3     5
b        2     4     6

In [14]:
import random
from itertools import product

import pandas as pd

random.seed(3.14)

platforms = ["Windows", "MacOS", "iOS", "Android", "Web"]
apps = ["Weibo", "QQ", "Wechat", "Facebook", "Twitter"]

data = pd.DataFrame(list(product(platforms, apps)), columns=["platforms", "apps"])
data["user_views"] = random.choices(range(1000, 100000), k=data.shape[0])
print(data)

   platforms      apps  user_views
0    Windows     Weibo       77769
1    Windows        QQ       72028
2    Windows    Wechat       21587
3    Windows  Facebook       61832
4    Windows   Twitter       99428
5      MacOS     Weibo       40012
6      MacOS        QQ       38287
7      MacOS    Wechat       91048
8      MacOS  Facebook       45890
9      MacOS   Twitter       25002
10       iOS     Weibo       81961
11       iOS        QQ       91249
12       iOS    Wechat       83411
13       iOS  Facebook       94873
14       iOS   Twitter       42350
15   Android     Weibo        4867
16   Android        QQ       60387
17   Android    Wechat       22915
18   Android  Facebook       62127
19   Android   Twitter        8725
20       Web     Weibo       44557
21       Web        QQ       63616
22       Web    Wechat       23107
23       Web  Facebook       58033
24       Web   Twitter       70295

In [15]:
data.pivot_table(
    index="platforms",
    columns="apps",
    values="user_views",
    aggfunc=sum,
    fill_value=0,
)

apps       Facebook     QQ  Twitter  Wechat  Weibo
platforms
Android       62127  60387     8725   22915   4867
MacOS         45890  38287    25002   91048  40012
Web           58033  63616    70295   23107  44557
Windows       61832  72028    99428   21587  77769
iOS           94873  91249    42350   83411  81961