In [1]:
import typing as t
from dataclasses import dataclass

@dataclass
class Item:
    name: str
    price: t.Union[int, float]
    number: int

In [2]:
import typing as t
from dataclasses import dataclass

@dataclass(repr=False, eq=True, order=False)
class Item:
    name: str
    price: t.Union[int, float]
    number: int

In [3]:
import typing as t
from dataclasses import dataclass

@dataclass
class Item:
    name: str
    price: t.Union[int, float] = 0
    number: int = 0

In [4]:
import typing as t
from dataclasses import dataclass, field

@dataclass
class Item:
    name: str
    price: t.Union[int, float] = 0
    number: int = 0
    categories: t.List[str] = field(default_factory=list)

In [5]:
import typing as t
from dataclasses import dataclass, field

@dataclass
class Item:
    name: str
    price: t.Union[int, float] = field(default=0)
    number: int = field(default=0)
    categories: t.List[str] = field(default_factory=list)

In [6]:
import typing as t
from dataclasses import dataclass, field


@dataclass
class Category:
    level: int = 1
    name: str = ""


def default_categories():
    return [Category()]


@dataclass
class Item:
    name: str
    price: t.Union[int, float] = field(default=0)
    number: int = field(default=0)
    categories: t.List[Category] = field(default_factory=default_categories)


Item("iPhone 14", price=6999, number=1000)

Item(name='iPhone 14', price=6999, number=1000, categories=[Category(level=1, name='')])

In [7]:
import sys

if sys.version_info >= (3, 10):
    from dataclasses import KW_ONLY

    import typing as t
    from dataclasses import KW_ONLY, dataclass, field


    @dataclass
    class Category:
        level: int = 1
        name: str = ""


    def default_categories():
        return [Category()]


    @dataclass
    class Item:
        name: str
        _: KW_ONLY
        price: t.Union[int, float] = field(default=0)
        number: int = field(default=0)
        categories: t.List[Category] = field(default_factory=default_categories)

In [8]:
import typing as t
from dataclasses import asdict, astuple, dataclass, field


@dataclass
class Category:
    level: int = 1
    name: str = ""


def default_categories():
    return [Category()]


@dataclass
class Item:
    name: str
    price: t.Union[int, float] = field(default=0)
    number: int = field(default=0)
    categories: t.List[Category] = field(default_factory=default_categories)


item = Item("iPhone 14", price=6999, number=1000)

In [9]:
astuple(item)

('iPhone 14', 6999, 1000, [(1, '')])

In [10]:
asdict(item)

{'name': 'iPhone 14',
 'price': 6999,
 'number': 1000,
 'categories': [{'level': 1, 'name': ''}]}